@{
    ViewData["Title"] = "Home Page";
}
@model SIGMA_PRUEBA.Models.AllParamsL;


<div class="form-inline">

  <!---->
  <!---->
  <!---->
  <!-- FORMULARIO CONSULTAR MODULOS, ESTUDIANTES Y PROFESORES -->
  <!---->
  <!---->
  <!---->
  <form class=" border border-primary col-md-3" method="GET" action="/relmodulos" >
    <div class="form-group">
      <label for="exaest"><b>CONSULTAS DE MODULOS:</b></label>
      <h3> &nbsp; </h3>
      <select class="form-control " id="idconmod" name="id">
        @foreach (var item in @Model.Lmod)
        {
            <option>@item.Nombre</option>
        }
      </select>
    </div>
    
    <br>
    <select class=" form-inline form-control " id="valalpr" name="valalpr">
        <option>Alumnos</option>
        <option>Profesor</option>
      </select>
      <br>
      <br>
    <button  type="submit" class=" btn btn-primary">Consultar</button>
    <br>
    <br>
  </form>




  &nbsp;
  &nbsp;
  &nbsp;

    <!---->
    <!---->
    <!---->
    <!-- FORMULARIO INGRESAR MODULOS -->
    <!---->
    <!---->
    <!---->
  <form class=" border border-primary col-md-3"
      data-toggle="validator"
      role="form"
      method="POST" action="/ingmodulos">
    <div class="form-group">
      <label for="exaest"><b>INGRESO DE MODULOS:</b></label>
      <h3> &nbsp; </h3>
      <label for="static">Código del módulo:</label>
      <input required type="text" class="form-control" name="idofmod" id="idofmod" placeholder="Código del módulo" 
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  maxlength="18"
                value="901289">
      <h3> &nbsp; </h3>
      <h3> &nbsp; </h3>
      <label for="static">Nombre del módulo:</label>
      <input required type="text" class="form-control" name="nameofmod" id="nameofmod" placeholder="Nombre del módulo" 
            onkeydown="return /[a-z]/i.test(event.key)"
                value="CalculoI">
    </div>
    <br>
    <button type="submit" class="btn btn-primary mb-2">Ingresar</button>
  </form>
<!-- FIN -->
</div>





<br>
    <!---->
    <!---->
    <!---->
    <!-- FORMULARIO INGRESAR PROFESOR -->
    <!---->
    <!---->
    <!---->
  
  <form class=" border border-primary " data-toggle="validator"
                      role="form" method="POST" action="/ingmodulos">
    <div class="form-group">
      <div style="display: block;">
        <label for="exaest"><b>INGRESO DE PROFESORES:</b></label>
      </div>
      <div style="display: block;">
        <label for="static">Código del módulo:</label>
        <select class="form-control col-md-4" id="idconmod" name="id">
          @foreach (var item in @Model.Lmod)
          {
              <option>@item.Nombre</option>
          }
        </select>
    </div>
<br>
      <table class="table table-bordered">
        <thead>
  <tr>
    <th>Cédula</th>
    <th>Nombre</th>
    <th>ApellidoP</th>
    <th>ApellidoM</th>
    <th>Dirección</th>
    <th>Teléfono</th>
  </tr>
  </thead>
  <tbody>
    
  <tr>
    <td>
      <input required type="text" class="form-control" name="idcard" id="idcard" placeholder="Cedula" 
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            maxlength="18"
                value="90901283">
    
    </td>
    <td>
      <input required type="text" class="form-control" name="name" id="name" placeholder="Nombre" 
            onkeydown="return /[a-z]/i.test(event.key)"
                value="Lena">
    
    </td>
    <td>
      <input required type="text" class="form-control" name="lnamep" id="lnamep" placeholder="Apelllido Pat" 
            onkeydown="return /[a-z]/i.test(event.key)"
                value="Forsen">
    </td>
    <td>
      <input required type="text" class="form-control" name="lnamem" id="lnamem" placeholder="Apelllido Mat" 
            onkeydown="return /[a-z]/i.test(event.key)"
                value="DSP">
    </td>
    <td>
      <input required type="text" class="form-control" name="direcc" id="direcc" placeholder="Dirección" 
                value="Cra19 No 41-21">
    </td>
    <td>
      <input required type="text" class="form-control" name="phone" id="phone" placeholder="Telefono" 
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            maxlength="18"
                value="5771054">
    
    </td>
  </tbody>

    

  </tr>
</table> 
<br>
<br>
<br>


      <h3> &nbsp; </h3>
      <h3> &nbsp; </h3> 
      
      <br>
      <br>

      <div style="display: block;">
        <br>
        <label for="static" style="text-align-last:left;">ApellidoP:</label>
        <input required type="text" class="form-control col-md-6" name="lnamep" id="lnamep" placeholder="Nombre del módulo" 
              onkeydown="return /[a-z]/i.test(event.key)"
                  value="Forsén">
       
      </div>
      <br>
      <br>
      <div style="display: block;">
        <br>
        <label for="static" style="text-align-last:left;">ApellidoM:</label>
        <input required type="text" class="form-control col-md-6" name="lnamem" id="lnamem" placeholder="Nombre del módulo" 
              onkeydown="return /[a-z]/i.test(event.key)"
                  value="Soderberg">
       
      </div>





      <br>
      <br>
      <input required type="text" class="form-control" name="idofmod" id="idofmod" placeholder="Código del módulo" 
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  maxlength="18"
                value="901289">
      
    </div>
    <br>
    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
  </form>
  



