@{
    ViewData["Title"] = "Home Page";
}
@model SIGMA_PRUEBA.Models.AllParamsL;
<div class="form-inline">
<form class=" border border-primary col-md-3" method="GET" action="/relmodulos" >
    <br>
  <div class="form-group">
    <label for="exaest">CONSULTAS DE MODULOS:</label>
    <select class="form-control " id="idconmod" name="id">
      @foreach (var item in @Model.Lmod)
      {
          <option>@item.Nombre</option>
      }
    </select>
  </div>
  
  <br>
  <div class="form-inline">
  <button  type="submit" class=" btn btn-primary">Consultar</button>
    <select class=" form-inline form-control " id="valalpr" name="valalpr">
      <option>Alumnos</option>
      <option>Profesor</option>
    </select>
  </div>
  <br>
  <br>
</form>




&nbsp;
&nbsp;
&nbsp;
<form class=" border border-primary col-md-3" method="POST" action="/ingmodulos">
  <br>
  <div class="form-group">
    <label for="exaest">INGRESO DE MODULOS:</label>
    <label for="static">Código del módulo:</label>
    <input type="text" class="form-control" name="idofmod" id="idofmod" placeholder="Código del módulo" 
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              value="901289">
    <br>
    <br>
    <label for="static">Nombre del módulo:</label>
    <input type="text" class="form-control" name="nameofmod" id="nameofmod" placeholder="Nombre del módulo" 
          onkeydown="return /[a-z]/i.test(event.key)"
              value="CalculoI">
  </div>
  <br>
  <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>


</div>



<br>
<br>
<br>
<br>
<br>



<form class="form-inline">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>