@{
    ViewData["Title"] = "Home Page";
}
@model SIGMA_PRUEBA.Models.AllParamsL;
<div class="form-inline">
  @Html.Partial("_ConsModForm")
  &nbsp;
  &nbsp;
  &nbsp;
  @Html.Partial("_IngrModForm")
</div>

@Html.Partial("_profesorform")
<br>
@Html.Partial("_AlumnosForm")
